body {
    font-family: Arial, sans-serif;
    background:url("/images/cool-geometric-triangular-hallway-3d-rendering.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-left: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: aliceblue;
    width: 30%;
    height: 40%;
    border-radius: 40px;
    border: 2px solid cyan;
}

.container:hover{
    border: 2px solid whitesmoke;
}

h1 {
    margin-bottom: 20px;
}

input[type="color"] {
    width: 100px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
}

.color-info p {
    margin-top: 30px;
}